<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
    {% if embedded_css %}
        {{ embedded_css | safe }}
    {% endif %}
</head>
<body>
    <div class="page-container flex-center">
        <!-- COMPONENT CONTAINER -->
        <div class="component-container flex-column gap-10">
            {% block header %}
            {% include 'components/header.html' %}
            {% endblock %}
            <!-- HEADER COMPONENT -->
            <div class="horizontal-separator"></div>
            <!-- MAIN CONTENT -->
            <h3>{{ page_title }}</h3>
            <main class="page-content flex-column gap-20">
                {% block content %}
                    {% include 'components/projection.html' %}
                    {% include 'components/table.html' %}
                {% endblock %}
            </main>
            <div class="horizontal-separator"></div>
            <!-- FOOTER COMPONENT -->
            {% block footer %}
                {% include 'components/footer.html' %}
            {% endblock %}
        </div>
    </div>
</body>
</html>