<html>
    {% if embedded_css %}
        {{ embedded_css | safe }}
    {% endif %}
    <body>
        <div class="page-container">
            <div class="document-grid ">
                {% if documents %}
                {% for document in documents %}
                <div class="card-container flex-column gap-10 m-10 mt-0">
                  <div id="documents:{{document.name}}.json" class="document-card flex-center flex-column align-start gap-10">
                      <h5>{{ document.name }}</h4>
                      <img src="{{ document.preview }}" alt="fail">
                      <div class="document-info flex-column">
                          <span>modified at: {{ document.updated_at }}</span>
                          <span>pages: {{ document.page_count }}</span>
                      </div>
                    </div>
                    <div id="delete:{{document.name}}" class="delete-button-container">
                        <button>Delete</button>
                    </div>

                </div>
                {% endfor %}
                {% endif %}
                <div id="add_new_document" class="document-card flex-center flex-column align-start gap-10">
                    <div class="new-document-container">
                        <button>+</button>
                    </div>
                    <div class="flex-center w-100 mb-10"><span>New document</span></div>
                </div>
            </div>
        </div>
    </body>
</html>
