@use "../variables";

.projection-container {
  max-height: 300pt;
  h5 {
    margin: 0;
    padding: 0;
  }

  .main-image {
    height: 120pt;
  }

  .sub-images-container {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    width: 100%;
    height: 180pt;

    .pano-image {
      width: 100%;
      max-height: 180pt;
    }

    .wall-image {
      width: 100%;
      max-height: 180pt;
    }
  }
}