@use "../variables";

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  font-size: variables.$font-size-header-md;
}

.table-header {
  background-color: #f2f2f2;
  font-weight: bold;
  padding: .375rem .75rem;

  &:nth-child(odd) {
    background-color: variables.$color-medium-gray;
  }
}

.table-cell {
  padding: .375rem .75rem;
}

tr {
  &:nth-child(even) {
    background-color: variables.$color-medium-gray;
  }

  &:last-child {
    background-color: variables.$color-silver;
    font-weight: 700;
  }
}