@use '_utilities';
@use './components/header.scss';
@use './components/footer';
@use './components/projection';
@use './components/table';
@use './components/document_card';
@use './components/document_grid';